
/*
* Wired v1.0.0
* Mixins - Table of Contents
*
* $ Browser Prefix
* $ Opacity
* $ Border Radius
* $ Box Shadow
* $ Box Center
*
*/

/* [ Browser Prefix ]
------------------------ */
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
} 


/* [ Opacity ]
------------------------ */
@mixin opacity($opacity: 0.5) {
    $opacityMultiplied: ($opacity * 100);
    
    filter:         alpha(opacity=$opacityMultiplied);
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityMultiplied + ")";
    @include css3-prefix('opacity', $opacity);
}

/* [ Border Radius ]
------------------------ */
@mixin border-radius($radius: 2px) {
    @include css3-prefix('border-radius', $radius);
}

/* [ Box Shadow ]
------------------------ */
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if $inset != "" {
    @include css3-prefix('box-shadow', $inset $x $y $blur $color);
  }
  @else if $x == "none" {
     @include css3-prefix('box-shadow', "none");
  }
  @else {
    @include css3-prefix('box-shadow', $x $y $blur $color);
  }
}


/* [ Box Center ]
--------------------------------------------- */

@mixin box-center($xy: xy ) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}