/*!
 * Wired v1.0.0
 * Copyright 2015 Larry Geams Parangan
 */

/* Mixins Libraries 
------------------------- */
@import '../bourbon/bourbon'; // http://bourbon.io/
@import 'mixins';   
 
/* Core  
------------------------- */   
@import 'variables';   
@import 'helpers'; 
  
   
*, *::after, *::before {
  @include box-sizing(border-box);  
}  

html { 
    height: 100%;
    -webkit-text-size-adjust: none;
}
  
body { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $color-lightest;

   	color: $color-base; 
    font-family: $font-base;
    font-size: $font-size-base; 
    font-weight: normal; 
    letter-spacing: 0.01em;
   
}

a , .link{
  color: $color-link;
  text-decoration: none;
  outline: 0 !important;
  @include transition();

  &:hover,
  &:focus {  
    color: $color-link-light; 
    text-decoration: none !important;
  }
}
  
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-heading;
  color: $color-dark;  
} 

ul, ol{
	padding-left: 20px;
}

img{
  max-width: 100%;
  height: auto;
}

p, ol, ul{
  line-height: 1.6;
  color: $color-base;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: normal;
} 

hr{
	border-color: rgba($color-dark, 0.10);
}
  
pre{
    background-color: transparent;
    border-color: $color-light;
    padding: 0;
    @include border-radius(0);
}

input, button{
  outline: 0 !important;
}

/* [ Header & Navigation ]
------------------------- */

// Mode: Light

.navbar{
  border: 0 !important;
  background-color: $color-white;

  .navbar-toggle{
      background-color: transparent !important;
      border-color: transparent !important;

      .icon-bar{
        background-color: $color-darker;
      }
  }
}

.navbar-nav{ 
  
  & > li{ 
 
    &.active{
      & > a{ 
        @include opacity(1);
      }
    }

    & > a{ 
      color: $color-darkest;
      font-weight: bold; 
      background-color: transparent !important;
      @include opacity(0.7);
 
      &:hover{
        @include opacity(1);
      }  
    } // a 

    a{ 
      font-family: $font-heading;  
      font-size: $font-size-base - 1; 
    }
  
    @media (max-width: $screen-sm - 1){
      .caret{ 
        float: right;
        margin-top: 10px;
      }  
    }
    

  } 

}

// Mode: Dark

.navbar-inverse{
  background-color: $color-darker;

  .navbar-toggle{
      .icon-bar{
        background-color: $color-white;
      }
  }
 
  .navbar-collapse{
    border-color: transparent !important;
    @include box-shadow(none);
  }

  .navbar-nav{
  
    & > li{ 

      &.active{
        & > a{
          @include opacity(1);
        }
      } 
  
      & > a{
        font-weight: normal; 
        color: $color-lighter;

        &:hover{
          @include opacity(1);
        } 
      }  
    } // li 
  
  @media (max-width: $screen-sm - 1){
      .open{
        .dropdown-header{
          color: $color-white; 
        }

        .dropdown-menu{
          & > li{ 
            a{
              color: $color-white;
              @include opacity(0.7);

              &:hover,
              &:focus{
                @include opacity(1);
              }
            }
          }

          .divider{ 
            background-color: rgba($color-white, 0.10);
          }
        }
      } // .open

    }
  }

}

// Burger Menu
 
.navbar-toggle {
  &.navbar-toggle-left{
    float: left;
    margin-right: auto;
    margin-left: 15px; 
  }
}

// Offcanvas Menu
@media (max-width: $screen-sm - 1){
 
  .navbar-offcanvas{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    z-index: 10;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $color-white !important; 
    color: $color-dark !important; 
  
    // Slide Direction: Left
    &[data-direction="left"]{
      display: block;
      left: 0;
      @include transform(translate3d(-100%,0,0));
      @include transition(all 0.4s cubic-bezier(0.19,1,0.22,1));
    }
    
    // Slide Direction: Right
    &[data-direction="right"]{
      display: block;
      right: 0; 
      @include transform(translate3d(100%,0,0));
      @include transition(all 0.4s cubic-bezier(0.19,1,0.22,1));
    }
    
    // Theme: Dark
    &[data-theme="dark"]{
      background-color: $color-menu !important; 
      color: $color-white !important;

      .navbar-nav{
        li{
          &.active{
            a{ background-color: darken($color-menu, 4%) !important; } 
          }

          a{ 
            color: #788195;
               
            &:focus,
            &:hover{
              color: $color-white; 
            }
          }
        }

        .open .dropdown-menu{
          background-color: darken($color-menu, 4%) !important;

          li{
            a{
              color: #788195;
 
              &:focus, 
              &:hover{
                color: $color-white; 
              }
            }
          }
        }

      } // .navbar-nav
    }
    
    // Open Offcanvas
    &.offcanvas-open{
      &[data-direction="left"],
      &[data-direction="right"]{ 
        @include transform(translate3d(0%,0,0));
      }
    }
    
    .navbar-nav{
      margin: auto;
      clear: both;

      li{
        &.active{
          a{
            color: $color-white;
            background-color: $color-darkest !important;  
          } 
        }

        a{ 
          padding: 10px 30px !important; 
          text-transform: uppercase;  
          @include opacity(1);
          color: $color-dark;
             
          &:focus,
          &:hover{
            color: $color-dark; 
          } 
        }
      }
 
      .open{ 
        .dropdown-toggle{
          color: $color-dark !important;  
        }

        .dropdown-menu{
          background-color: $color-lighter !important;

          li{
            a{
              color: $color-dark;
              font-size: 12px;
              @include opacity(1); 

              &:focus, 
              &:hover{
                color: $color-dark; 
              }
            }
          }
        }
      }

    } // .navbar-nav
  }  

} // @media
