//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-left {
   @include pull-left();
}
.pull-right {
   @include pull-right();
}
.pull-none {
  float: none !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .pull-#{$breakpoint}-left {
      @include pull-left();
    }
    .pull-#{$breakpoint}-right {
      @include pull-right();
    }
    .pull-#{$breakpoint}-none {
      float: none !important;
    }
  }
}

// Columns
// -------------------------

.container-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.row-height {
  display: table-row;
}

.col-height {
  display: table-cell;
  float: none;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .container-#{$breakpoint}-height {
      display: table;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
    .row-#{$breakpoint}-height {
      display: table-row;
    }
    .col-#{$breakpoint}-height {
      display: table-cell;
      float: none;
    }
  }
}

// Rows
// -------------------------
.gutter-xs {
    margin-left: -$grid-gutter-xs;
    margin-right: -$grid-gutter-xs;
  
  > [class^="col-"], 
  > [class*="col-"] {
    padding-left: $grid-gutter-xs;
    padding-right: $grid-gutter-xs;
  }
} 
 
.gutter-sm {
    margin-left: -$grid-gutter-sm;
    margin-right: -$grid-gutter-sm;
   
  > [class^="col-"], 
  > [class*="col-"] {
    padding-left: $grid-gutter-sm;
    padding-right: $grid-gutter-sm;
  }
}

// Vertical ALignment
// -------------------------
.v-align-bottom {
  vertical-align: bottom !important;
}
.v-align-top {
  vertical-align: top !important;
}
.v-align-middle {
  vertical-align: middle !important;
}

// Responsive Images
// -------------------------

.image-responsive-height{
  width: 100%;
}
.image-responsive-width{
  height: 100%;
}

// Fonts
// -------------------------
.font-base { font-family: $font-family-base !important; }
.font-heading { font-family: $font-family-heading !important; }
.font-serif { font-family: $font-family-serif !important; }

@each $prop, $abbrev in (font-size: fs) {
  @each $size, $lengths in $sizes {
    $length:   map-get($lengths, size); 
    .#{$abbrev}-#{$size} { #{$prop}:   $length !important; }
  }
}

// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide,
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}

// Weight and italics

.normal  { font-weight: normal; }
.strong  { font-weight: bold; }
.fitalic { font-style: italic; }


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// Dimensions
// -------------------------
.full-height { height: 100% !important; }
.full-width { width: 100% !important; }

// Positions
// -------------------------
.relative { position: relative !important; }
.fixed { position: fixed !important; }
.absolute { position: absolute !important; }
.static { position: static !important; }

// Weights
// -------------------------
.light { font-weight: 300 !important; }
.semi-bold { font-weight: 500 !important; }
.bold { font-weight: bold !important; }

// Cursors
// -------------------------
.pointer { cursor: pointer !important; }
.help { cursor: help !important; }
.move { cursor: move !important; }