// Cards
$card-header-padding:           20px 20px 7px 20px !default;
$card-body-padding:             20px !default;
$card-footer-padding:           10px 20px !default;

$card-spacer-x:                 15px !default;
$card-spacer-y:                 10px !default;
$card-border-width:             1px !default;
$card-border-radius:            $border-radius-base !default;
$card-border-color:             $color-fade !default;
$card-border-radius-inner:      $card-border-radius !default;
$card-cap-bg:                   transparent !default;
$card-bg:                       $color-white !default;
$card-link-hover-color:         $color-white !default;
$card-img-overlay-padding:      20px !default;
$card-deck-margin:              14px !default;
$card-columns-sm-up-column-gap: 1.25rem !default;