// Colors
//
//## Gray and brand colors for use across Bootstrap.

$color-gray-base:             #000 !default;
$color-gray-darker:           #1B2126;
$color-gray-dark:             #2E3B4E;
$color-gray:                  #5F6A7D; 
$color-gray-light:            lighten($color-gray-base, 46.7%) !default; // #777
$color-gray-lighter:          lighten($color-gray-base, 93.5%) !default; // #eee

// Wired Colors
$color-base:            $color-gray-dark !default; 
$color-primary:         #007FFF !default;  
$color-success:         #3ACF95 !default;
$color-info:            #2185DB !default;
$color-warning:         #ffd860 !default;
$color-danger:          #f55753 !default;
$color-dark:            #2B303B !default;
$color-fade:            #F0F0F0 !default;
$color-white:           #FFFFFF !default; 
$color-black:           $color-gray-base;

// Social Colors
$color-facebook:        #3B5998 !default;
$color-twitter:         #55ACEE !default;
$color-google:          #DD4B39  !default;
$color-linkedin:        #1F88BE  !default;
$color-instagram:       #F41B69  !default;
$color-youtube:         #CC181E  !default;