// Labels
//
//##

//** Default label background color
$label-default-bg:            $color-gray-lighter !default;
//** Primary label background color
$label-primary-bg:            $color-primary !default;
//** Success label background color
$label-success-bg:            $color-success !default;
//** Info label background color
$label-info-bg:               $color-info !default;
//** Warning label background color
$label-warning-bg:            $color-warning !default;
//** Danger label background color
$label-danger-bg:             $color-danger !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;
