// Navs
//
//##

//= Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $color-gray-lighter !default;

$nav-disabled-link-color:                   $color-gray-light !default;
$nav-disabled-link-hover-color:             $color-gray-light !default;