// Pagination
//
//##

$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    $color-fade !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $color-fade !default;
$pagination-hover-border:              $color-fade !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $color-primary !default;
$pagination-active-border:             $color-primary !default;

$pagination-disabled-color:            $color-gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           $color-fade !default;