// Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          20px !default;
$panel-heading-padding:       20px 20px 7px 20px !default;
$panel-footer-padding:        10px 20px !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          $brand-gray !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        $brand-gray !default;
$panel-default-heading-bg:    transparent !default;

$panel-primary-text:          $state-primary-bg !default;
$panel-primary-border:        $state-primary-border !default;
$panel-primary-heading-bg:    $state-primary-bg !default;

$panel-success-text:          $state-success-bg !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-bg !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-bg !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-bg !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;