// Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 #f5f5f5 !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base !default;

//** Default progress bar color
$progress-bar-bg:             $color-primary !default;
//** Success progress bar color
$progress-bar-success-bg:     $color-success !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $color-warning !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $color-danger !default;
//** Info progress bar color
$progress-bar-info-bg:        $color-info !default;