// Tabs
$nav-tabs-border-color:                     $brand-gray !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   $brand-gray !default;

$nav-tabs-justified-link-border-color:            $brand-gray !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;