// Tabs
$nav-tabs-border-color:                     $color-fade !default;

$nav-tabs-link-hover-border-color:          $color-gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $color-gray !default;
$nav-tabs-active-link-hover-border-color:   $color-fade !default;

$nav-tabs-justified-link-border-color:            $color-fade !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;