

/** 
* Dropdown -------------- */ 
 
.dropdown-menu{
	border: 1px solid $color-light;
	@include border-radius(0);
	@include box-shadow(0,0,0);

	&>li>a {
	    line-height: 35px;
	    color: rgba($color-base, 0.8);  
	    padding: 0 20px;
	    border-radius: 3px;
	    text-align: left;
 
	    &:hover,
	    &:focus{ 
	    	background-color: transparent !important; 
	    }  
	}

}


.open{
 .dropdown-toggle{
	@include box-shadow(0,0,0);

 	&.btn-default{
 		&, &:hover, &:focus{
	 		border: 1px solid $color-light;
	 		background-color: $color-lighter;
	 	}
	}

	&.btn-primary{
		&, &:hover, &:focus{
	 		border: 1px solid darken($color-primary-dark, 5%) !important;
	 		background-color: $color-primary-dark;
	 	}
	}

	&.btn-info{
		&, &:hover, &:focus{
	 		border: 1px solid darken($color-info-dark, 5%) !important;
	 		background-color: $color-info-dark;
	 	}
	}

	&.btn-danger{
		&, &:hover, &:focus{
	 		border: 1px solid darken($color-danger-dark, 5%) !important;
	 		background-color: $color-danger-dark;
	 	}
	}

	&.btn-warning{
		&, &:hover, &:focus{
	 		border: 1px solid darken($color-warning-dark, 5%) !important;
	 		background-color: $color-warning-dark;
	 	}
	}

	&.btn-success{
		&, &:hover, &:focus{
	 		border: 1px solid darken($color-success-dark, 5%) !important;
	 		background-color: $color-success-dark;
	 	}
	}

	&.btn-link{
		&, &:hover, &:focus{
	 		border: 1px solid $color-link-dark;
	 		background-color: transparent;
	 	}
	}

 }
}
