
/**
* [ Jumbotron ]
-------------- */ 

.jumbotron {
    position: relative;
    overflow: hidden;
    display: block;
    background-color: $color-lighter;
    @extend .reset;

	h1 {
	    font-size: 44px;
	}

    .inner {
	    position: relative;
	    z-index: 2;
	}

	.cover-photo {
	    width: 100%;
	    height: inherit;
	    overflow: hidden;
	    background-size: cover;
	    background-color: #10cfbd;
	    @include transition(opacity 0.3s ease);

	    img {
		    display: none;
		}
	}

}