

/* [ List ]
------------------------ */
.list{
	list-style: none; 
	padding-left: 0;

	li{  
		&:before{
			content: "";
			margin-right: 15px;
			margin-top: 7px; 
			width: 7px;
			height: 7px;
			display: inline-block;
			vertical-align: top;
			background-color: $color-primary;
			@include border-radius(50%); 
		} 
	}

	&.list-primary{
		li{
			&:before{ background-color: $color-primary; }
		}
	}

	&.list-success{
		li{
			&:before{ background-color: $color-success; }
		}
	}

	&.list-info{
		li{
			&:before{ background-color: $color-info; }
		}
	}

	&.list-warning{
		li{
			&:before{ background-color: $color-warning; }
		}
	}

	&.list-danger{
		li{
			&:before{ background-color: $color-danger; }
		}
	}

	&.list-link{
		li{
			&:before{ background-color: $color-link; }
		}
	}
}

.list-inline-block{
	padding-left: 0;
	list-style: none;

	li{ display: block; }

	@media (min-width: $screen-sm) {
		li{ display: inline-block; }
	}

}

