
 
/* [ Popover ]
------------------------ */

.popover{
	border-color: rgba($color-dark, 0.10); 
	@include border-radius(2px);
	@include box-shadow(none);

	&.top{
		.arrow{ border-top-color: rgba($color-dark, 0.20) !important; }
	}

	&.right{
		.arrow{ border-right-color: rgba($color-dark, 0.20) !important; }
	}

	&.bottom{
		.arrow{ border-bottom-color: rgba($color-dark, 0.20) !important; }
	}

	&.left{
		.arrow{ border-left-color: rgba($color-dark, 0.20) !important; }
	}
}