
/* [ Tables ]
------------------------ */
.table{
  &.no-border{
    thead>tr>th,
    tbody>tr>th,
    tfoot>tr>th,
    thead>tr>td,
    tbody>tr>td,
    tfoot>tr>td{
      border: 0;
    }
  }

  thead{
		tr{
			th{
				padding: 14px 20px;
				border-bottom: 0;
				text-transform: uppercase;
				font-family: $font-heading;
				font-size: 12px;
			}
		}
	}

	tbody{
		tr{
			td{
				padding: 20px;
			}
		}
	}
}