
/* [ Radio and Checkbox ]
------------------------ */

.radio, .checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0px;
}

.radio label, .checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px !important;
  margin-right: 15px;
  font-size: 13px;
}

.radio label:before, .checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  background-color: $color-white;
  border: 1px solid #ddd;
}

.radio {
  label {
    margin-bottom: 6px;
    &:before {
      bottom: 2.5px;
      @include border-radius(99px);
      @include transition(border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33));
    }
  }
  input {
    &[type=radio]:checked + label:before {
      border-width: 5px;
    }
    &[type="radio"]:focus + label {
      color: #2c2c2c;
      &:before {
        background-color: #e6e6e6;
      }
    }
    &[type=radio] {
      width: 0;
      height: 0;
      @include opacity(0);
      &[disabled] + label {
        @include opacity(0.65);
      }
    }
  }
  &.radio-success input[type=radio]:checked + label:before {
    border-color: $color-success;
  }
  &.radio-primary input[type=radio]:checked + label:before {
    border-color: $color-primary;
  }
  &.radio-info input[type=radio]:checked + label:before {
    border-color: $color-info;
  }
  &.radio-warning input[type=radio]:checked + label:before {
    border-color: $color-warning;
  }
  &.radio-danger input[type=radio]:checked + label:before {
    border-color: $color-danger;
  }

}

.checkbox {
  input[type=radio][disabled] + label:after {
    background-color: #e6e6e6;
  }
  label {
    white-space: nowrap;
    @include transition(border 0.2s linear 0s, color 0.2s linear 0s);
    &:before {
      top: 1.4px;
      @include border-radius(3px);
      @include transition(border 0.2s linear 0s, color 0.2s linear 0s);
    }
    &::after {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 3.2px;
      top: 0px;
      font-size: 11px;
      @include transition(border 0.2s linear 0s, color 0.2s linear 0s);
    }
    &:after {
      border-radius: 3px;
    }
  }
  input[type=checkbox] {
    width: 0;
    height: 0;
    @include opacity(0);
  }
  &.checkbox-circle label {
    &:after, &:before {
      @include border-radius(99px);
    }
  }
  input {
    &[type=checkbox]:checked + label {
      &:before {
        border-width: 8.5px;
      }
      &::after {
        font-family: 'FontAwesome';
        content: "\F00C";
        color: #fff;
      }
    }
    &[type="checkbox"]:focus + label {
      color: #2c2c2c;
      &:before {
        background-color: #e6e6e6;
      }
    }
    &[type=checkbox][disabled] + label {
      @include opacity(0.65);
      &:before {
        background-color: #eceff3;
      }
    }
  }
  &.right {
    label {
      margin-right: 35px;
      padding-left: 0 !important;
      &:before {
        right: -35px;
        left: auto;
      }
    }
    input[type=checkbox]:checked + label {
      position: relative;
      &::after {
        font-family: 'FontAwesome';
        content: "\F00C";
        position: absolute;
        right: -27px;
        left: auto;
      }
    }
  }
  &.checkbox-success input[type=checkbox]:checked + label:before {
    border-color: $color-success;
  }
  &.checkbox-primary input[type=checkbox]:checked + label:before {
    border-color: $color-primary;
  }
  &.checkbox-warning input[type=checkbox]:checked + label:before {
    border-color: $color-warning;
  }
  &.checkbox-danger input[type=checkbox]:checked + label:before {
    border-color: $color-danger;
  }
  &.checkbox-info input[type=checkbox]:checked + label:before {
    border-color: $color-info;
  }
  &.checkbox-success input[type=checkbox]:checked + label::after, &.check-primary input[type=checkbox]:checked + label::after, &.check-warning input[type=checkbox]:checked + label::after, &.check-danger input[type=checkbox]:checked + label::after, &.check-info input[type=checkbox]:checked + label::after {
    color: $color-white;
  }
}

/* [ Switch ]
------------------------ */

.switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  &.switch-primary{
  	input {
	    &:checked + label {
	      box-shadow: inset 0 0 0 0.73em $color-primary;
	    }
	}
  }

  &.switch-success{
  	input {
	    &:checked + label {
	      box-shadow: inset 0 0 0 0.73em $color-success;
	    }
	}
  }

  &.switch-info{
  	input {
	    &:checked + label {
	      box-shadow: inset 0 0 0 0.73em $color-info;
	    }
	}
  }

  &.switch-warning{
  	input {
	    &:checked + label {
	      box-shadow: inset 0 0 0 0.73em $color-warning;
	    } 
	}
  }

  &.switch-danger{
  	input {
	    &:checked + label {
	      box-shadow: inset 0 0 0 0.73em $color-danger;
	    }
	}
  }

  input {
    opacity: 0;
    position: absolute;
    

    + label {
      position: relative;
      display: inline-block;
      width: 1.65em;
      height: 1em;
      background: #bbb;
      border-radius: 0.5em;
      vertical-align: middle;
      font-size: 30px;
      cursor: pointer;
      @include transition(all 0.4s cubic-bezier(0.17, 0.67, 0.43, 0.98));
    }
  }

  &:active input + label {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
  }

  input + label {
    
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 0.875em;
      height: 0.875em;
      border-radius: 0.4375em;
      top: 0.0625em;
      left: 0.0625em;
      background: white;
      @include transition(all 0.25s ease-out);
    }
  }

  &:active input + label:after {
    width: 1.15em;
  }

  input {
    + label:active:after {
      width: 1.15em;
    }
    &:checked + label {
      box-shadow: inset 0 0 0 0.73em #4cd964;

      &:after {
        left: 0.7125em;
      }
    }
  }
  &:active input:checked + label:after {
    left: 0.4375em;
  }
  input {
    &:checked + label:active:after {
      left: 0.4375em;
    }
    &:focus {
      + label {
        &:after {
          background: #fff;
        }
      }
    }
  }
  &:hover input:focus {
    + label {
      &:after {
        background: #fff;
      }
    }
  }
}
