
/* [ Text Transform ] 
------------------------ */

.text-uppercase{ text-transform: uppercase; }
.text-lowercase{ text-transform: lowercase; }
.text-capitalize{ text-transform: capitalize; }

/* [ Text Alignment ] 
------------------------ */

@media (min-width: $screen-sm){
  .text-sm-left{ text-align: left; }
  .text-sm-center{ text-align: center; }
  .text-sm-right{ text-align: right; }
  .text-sm-justify{ text-align: justify; }
}

@media (min-width: $screen-md){
  .text-md-left{ text-align: left; }
  .text-md-center{ text-align: center; }
  .text-md-right{ text-align: right; }
  .text-md-justify{ text-align: justify; }
}

@media (min-width: $screen-lg){
  .text-lg-left{ text-align: left; }
  .text-lg-center{ text-align: center; }
  .text-lg-right{ text-align: right; }
  .text-lg-justify{ text-align: justify; }
}

/* Float
------------------------ */
.pull-none{ float: none; }

@media (min-width: $screen-sm){
  .pull-sm-left{ float: left; }
  .pull-sm-right{ float: right; }
  .pull-sm-none{ float: none; }
}

@media (min-width: $screen-md){
  .pull-md-left{ float: left; }
  .pull-md-right{ float: right; }
  .pull-md-none{ float: none; }
}

@media (min-width: $screen-lg){
  .pull-lg-left{ float: left; }
  .pull-lg-right{ float: right; }
  .pull-lg-none{ float: none; }
}

