//
// Buttons
// --------------------------------------------------


// Base styles 
// --------------------------------------------------
 
.button {
  display: inline-block;
  margin-bottom: 0; // For input.button
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  outline: 0 !important;
  transition: all 0.2s linear;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.button
}

a.button {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}
  

// Alternate buttons
// --------------------------------------------------

.button-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.button-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.button-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.button-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.button-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.button-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Outline buttons
// ------------------------- 
.button-outline {
  @include button-variant($brand-white, transparent , $brand-white);
}

.button-outline-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
} 
.button-outline-primary {
  @include button-outline-variant($btn-primary-bg);
}
// Success appears as green 
.button-outline-success {
  @include button-outline-variant($btn-success-bg);
}
// Info appears as blue-green
.button-outline-info {
  @include button-outline-variant($btn-info-bg);
}
// Warning appears as orange
.button-outline-warning {
  @include button-outline-variant($btn-warning-bg);
}
// Danger and error appear as red
.button-outline-danger {
  @include button-outline-variant($btn-danger-bg);
}

// Social buttons
// ------------------------- 
.button-facebook {
  @include button-variant($brand-white, $brand-facebook, $brand-facebook);
}

.button-twitter {
  @include button-variant($brand-white, $brand-twitter, $brand-twitter);
}

.button-google {
  @include button-variant($brand-white, $brand-google, $brand-google);
}

.button-linkedin {
  @include button-variant($brand-white, $brand-linkedin, $brand-linkedin);
}

.button-instagram {
  @include button-variant($brand-white, $brand-instagram, $brand-facebook);
}

.button-youtube {
  @include button-variant($brand-white, $brand-youtube, $brand-youtube);
}

// Icon buttons
// -------------------------

.button-icon {
  position: relative;
  padding-left: 55px !important;
  padding-right: 21px !important;

  .fa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 1;
    width: 36px;
    text-align: center;
    margin: 0;
    background-color: rgba($brand-black, .05);
  }

  .fa:before { 
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.button-link {
  color: $link-color;
  font-weight: normal;
  @include border-radius(0);

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.button-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.button-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.button-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.button-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.button-block + .button-block {
  margin-top: 5px; 
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button-block {
    width: 100%;
  }
}

// Rounded button
// --------------------------------------------------
.button-rounded {
    border-radius: 100px;
}