<section id="buttons" class="pd-t-30 pd-b-30">
                      <h3 class="text-uppercase">Buttons</h3>
                      <hr>
                      <h4>Colors</h4>
                      <p>Wired buttons use the same contextual classes introduced in Bootstrap</p>
                      
<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <button class="btn btn-default">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn btn-link">Link</button>
  </div>
<pre>
<code class="html"><button class="btn btn-default">Default</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-info">Info</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-link">Link</button></code>
</pre>
</div>
<br>
                    <h4>Button animation</h4>
                    <p>Content inside a button can be animate on hover. Simply include the classes <code class="nohighlight">.btn-animated</code> together with <code class="nohighlight">.from-top</code> or <code class="nohighlight">.from-left</code> to specify the animation direction, followed by the desired icon font class name (ex: fa fa-check)</p>
                    
<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <button class="btn btn-primary btn-animated from-left fa fa-check" type="button">
          <span>Checkbox</span>
      </button>
      <button class="btn btn-primary btn-animated from-top fa fa-times" type="button">
          <span>Times</span>
      </button>
  </div>
<pre>
<code class="html"><button class="btn btn-primary btn-animated from-left fa fa-check" type="button">
    <span>Checkbox</span>
</button>
<button class="btn btn-primary btn-animated from-top fa fa-times" type="button">
    <span>Times</span>
</button></code>
</pre>
</div>
<br>                    
                    <h4>Outline Buttons</h4>
                    <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code class="nohighlight">.btn-*-outline</code> ones to remove all background images and colors on any button.</p>
                    
<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <button class="btn btn-primary-outline">Primary</button>
      <button class="btn btn-success-outline">Success</button>
      <button class="btn btn-info-outline">Info</button>
      <button class="btn btn-warning-outline">Warning</button>
      <button class="btn btn-danger-outline">Danger</button>
  </div>
<pre>
<code class="html"><button class="btn btn-primary-outline">Primary</button>
<button class="btn btn-success-outline">Success</button>
<button class="btn btn-info-outline">Info</button>
<button class="btn btn-warning-outline">Warning</button>
<button class="btn btn-danger-outline">Danger</button></code>
</pre>
</div>
<br>

                    <h4>Rounded Buttons</h4>
                    <p>Any button can be made to have rounded corners by adding <code class="nohighlight">.btn-rounded</code></p>

<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <!-- Large rounded button -->
      <button class="btn btn-primary btn-lg btn-rounded">Large rounded</button>

      <!-- Regular rounded button -->
      <button class="btn btn-primary btn-rounded">Regular</button>

      <!-- Small rounded button -->
      <button class="btn btn-primary btn-sm btn-rounded">Small</button>
  </div>
<pre>
<code class="html"><!-- Large rounded button -->
<button class="btn btn-primary btn-lg btn-rounded">Large rounded</button>

<!-- Regular rounded button -->
<button class="btn btn-primary btn-rounded">Regular</button>

<!-- Small rounded button -->
<button class="btn btn-primary btn-sm btn-rounded">Small</button></code>
</pre>
</div>
<br>                   
                    <h4>Box Buttons</h4>
                    <p>Don't like buttons with slightly rounded corners? Just add <code class="nohighlight">.btn-box</code> to turn it into a box button</p> 
                    
<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <button class="btn btn-primary btn-lg btn-box">Large button</button>

      <!-- Regular box button -->
      <button class="btn btn-primary btn-box">Regular</button>

      <!-- Small box button -->
      <button class="btn btn-primary btn-sm btn-box">Small</button></code>
  </div>
<pre>
<code class="html"><!-- Large box button -->
<button class="btn btn-primary btn-lg btn-box">Large button</button>

<!-- Regular box button -->
<button class="btn btn-primary btn-box">Regular</button>

<!-- Small box button -->
<button class="btn btn-primary btn-sm btn-box">Small</button></code>
</pre>
</div>
<br>    
                    </section>
                    <!--/ #buttons -->