<section id="dropdowns" class="pd-t-30 pd-b-30">
	<h3 class="text-uppercase">Dropdowns</h3>
	<hr>

	<p>Dropdowns are created using Bootstrap Native Dropdowns, they will work as the same way how it works in bootstrap, but it is styled to wired color scheme.</p>
	<a href="http://getbootstrap.com/components/#dropdowns" target="_blank" class="btn btn-primary">Bootstrap Dropdown Guides</a>
	<br><br>
	<div class="wd-example">  
	  <div class="example"> 
	    <h5 class="mg-b-15">Example</h5>
	    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
	  </div>
<pre>
<code><div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div></code>
</pre>
	</div>
</section>