<section id="examples" class="pd-t-30 pd-b-30"> 
                        <h3 class="text-uppercase">Examples</h3>
                        <p>Extension to Bootstrap's native templates</p>
                        <hr>
 
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="../examples/bootstrap-template" class="thumbnail" target="_blank">
                                    <img src="../examples/bootstrap-template/screenshot/screenshot.jpg" alt="" class="center-block" />
                                </a>
                                <h3 class="h4">Bootstrap template</h3>
                                <p>This is Bootstrap's native template. Nothing but the basics: compiled CSS and JavaScript along with a container.</p>
                            </div>

                            <div class="col-xs-6">
                                <a href="../examples/wired-template" class="thumbnail" target="_blank">
                                    <img src="../examples/wired-template/screenshot/screenshot.jpg" alt="" class="center-block" />
                                </a>
                                <h3 class="h4">Wired template</h3>
                                <p>This is Wired's starter template. Replacing Bootstrap's native collapsable menu on mobile.</p>
                            </div>
                        </div>

                         <div class="row mg-t-30">
                            <div class="col-xs-6">
                                <a href="../examples/signin-template" class="thumbnail" target="_blank">
                                    <img src="../examples/signin-template/screenshot/screenshot.jpg" alt="" class="center-block" />
                                </a>
                                <h3 class="h4">Sign-in page</h3>
                                <p>Custom form layout and design for a simple sign in form.</p>
                            </div>
 
                            <div class="col-xs-6">
                                <a href="../examples/signup-template" class="thumbnail" target="_blank">
                                    <img src="../examples/signup-template/screenshot/screenshot.jpg" alt="" class="center-block" />
                                </a>
                                <h3 class="h4">Sign-up Page</h3>
                               <p>Custom form layout and design for a simple sign up form.</p>
                            </div>
                        </div>

                        <div class="row mg-t-30">

                            <div class="col-xs-6">
                                <a href="../examples/404-template" class="thumbnail" target="_blank">
                                    <img src="../examples/404-template/screenshot/screenshot.jpg" alt="" class="center-block" />
                                </a>
                                <h3 class="h4">404</h3>
                                <p>General template for a 404 page</p>
                            </div>
                        </div>
                    </section>