<section id="forms" class="pd-t-30 pd-b-30">
                      <h3 class="text-uppercase">Forms</h3>
                      <hr>
                      
                      <h4 id="form-controls" class="pd-t-30">Form Controls</h4>
                      <p>Form Controls are created using Bootstrap Native Form Controls, they will work as the same way how it works in bootstrap. Individual form controls automatically receive some global styling.</p> 
                      <p>All textual <code class="nohighlight">input</code>, <code class="nohighlight">textarea</code>, and <code class="nohighlight">select</code> elements with <code class="nohighlight">.form-control</code> are set to <code class="nohighlight">width: 100%</code> by default. Wrap labels and controls in <code class="nohighlight">.form-group</code> for optimum spacing.</p> 
 
                      <a href="http://getbootstrap.com/css/#forms" target="_blank" class="btn btn-primary">Bootstrap Form Control Guides</a>
                      <br><br>
                      <h5>Option</h5>
                      <p>Change native layout of input fields class by wrapping it with <code class="nohighlight">form-line</code>. These are retina compatible and available in all Bootstrap's contextual classes (ex: <code class="nohighlight">.form-line-primary</code>)</p>

<div class="wd-example"> 
    <div class="example"> 
      <h5 class="mg-b-15">Example</h5>
      <form>
        <div class="form-group form-line">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group form-line">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-line"> 
          <div class="inputfile">
            <input type="file" name="file" id="file" class="form-control" />
            <label for="file">Choose a file...</label>
          </div>
        </div> 
        <div class="form-group">
          <div class="checkbox checkbox-success">
              <input type="checkbox" checked="checked" value="1" id="checkbox1">
              <label for="checkbox1">Keep Me Signed in</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
<pre>
<code><form>
  <div class="form-group form-line">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group form-line">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-line"> 
    <div class="inputfile">
      <input type="file" name="file" id="file" class="form-control" />
      <label for="file">Choose a file...</label>
    </div>
  </div> 
  <div class="form-group">
    <div class="checkbox checkbox-success">
        <input type="checkbox" checked="checked" value="1" id="checkbox1">
        <label for="checkbox1">Keep Me Signed in</label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form></code>
</pre>    
</div>
                      <h4 id="inputfile" class="pd-t-30">Input File</h4>
                      <p>Get rid of native look n' feel with our very own custom input file written purely in CSS. These are retina compatible and available in all Bootstrap's contextual classes (ex: <code class="nohighlight">.inputfile-primary</code>)</p>

<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>

          <div class="inputfile">
            <input type="file" name="file" id="file1" class="form-control" />
            <label for="file1">Choose a file...</label>
          </div>

          <div class="inputfile inputfile-default">
            <input type="file" name="file" id="file2" class="form-control" />
            <label for="file2"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-primary">
            <input type="file" name="file" id="file3" class="form-control" />
            <label for="file3"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-success">
            <input type="file" name="file" id="file4" class="form-control" />
            <label for="file4"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-complete">
            <input type="file" name="file" id="file5" class="form-control" />
            <label for="file5"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-warning">
            <input type="file" name="file" id="file6" class="form-control" />
            <label for="file6"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-danger">
            <input type="file" name="file" id="file7" class="form-control" />
            <label for="file7"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

    </div>
<pre><code><div class="inputfile">
  <input type="file" name="file" id="file1" class="form-control" />
  <label for="file1">Choose a file...</label>
</div>

<div class="inputfile inputfile-default">
  <input type="file" name="file" id="file2" class="form-control" />
  <label for="file2"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-primary">
  <input type="file" name="file" id="file3" class="form-control" />
  <label for="file3"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-success">
  <input type="file" name="file" id="file4" class="form-control" />
  <label for="file4"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-complete">
  <input type="file" name="file" id="file5" class="form-control" />
  <label for="file5"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-warning">
  <input type="file" name="file" id="file6" class="form-control" />
  <label for="file6"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-danger">
  <input type="file" name="file" id="file7" class="form-control" />
  <label for="file7"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div></code>
</pre>
</div>
<br>         
                      <h5>Outline Input File</h5>
                      <p>Replace the default modifier classes with the <code class="nohighlight">.inputfile-*-outline</code> ones to remove all background images and colors on any input file.</p>
                      <div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>

          <div class="inputfile inputfile-primary-outline">
            <input type="file" name="file" id="file8" class="form-control" />
            <label for="file8"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-success-outline">
            <input type="file" name="file" id="file9" class="form-control" />
            <label for="file9"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-complete-outline">
            <input type="file" name="file" id="file10" class="form-control" />
            <label for="file10"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-warning-outline">
            <input type="file" name="file" id="file11" class="form-control" />
            <label for="file11"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

          <div class="inputfile inputfile-danger-outline">
            <input type="file" name="file" id="file12" class="form-control" />
            <label for="file12"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
          </div>

    </div>
<pre><code><div class="inputfile inputfile-primary-outline">
  <input type="file" name="file" id="file8" class="form-control" />
  <label for="file8"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-success-outline">
  <input type="file" name="file" id="file9" class="form-control" />
  <label for="file9"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-complete-outline">
  <input type="file" name="file" id="file10" class="form-control" />
  <label for="file10"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-warning-outline">
  <input type="file" name="file" id="file11" class="form-control" />
  <label for="file11"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div>

<div class="inputfile inputfile-danger-outline">
  <input type="file" name="file" id="file12" class="form-control" />
  <label for="file12"><i class="fa fa-fw fa-upload"></i> Choose a file...</label>
</div></code>
</pre>
</div>

                      <h4 id="checkbox-controls" class="pd-t-30">Checkbox controls</h4>
                      <p>Get rid of native look n' feel with our very own custom checkboxes written purely in CSS. These are retina compatible and available in all Bootstrap's contextual classes (ex: <code class="nohighlight">.checkbox-primary</code>)</p>

<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <div class="checkbox checkbox-default">
            <input type="checkbox" checked="checked" value="1" id="checkbox1">
            <label for="checkbox1">Keep Me Signed in</label>
        </div>

        <div class="checkbox checkbox-success  ">
            <input type="checkbox" checked="checked" value="1" id="checkbox2">
            <label for="checkbox2">I agree</label>
        </div>

        <div class="checkbox checkbox-primary">
            <input type="checkbox" checked="checked" value="1" id="checkbox3">
            <label for="checkbox3">Mark</label>
        </div>

        <div class="checkbox checkbox-info">
            <input type="checkbox" checked="checked" value="1" id="checkbox4">
            <label for="checkbox4">Steve Jobs</label>
        </div>

        <div class="checkbox checkbox-warning">
            <input type="checkbox" checked="checked" value="1" id="checkbox5">
            <label for="checkbox5">Action</label>
        </div>

        <div class="checkbox checkbox-danger">
            <input type="checkbox" checked="checked" value="1" id="checkbox6">
            <label for="checkbox6">Mark as read</label>
        </div>
  </div>
<pre>
<code class="html"><div class="checkbox check-default">
    <input type="checkbox" checked="checked" value="1" id="checkbox1">
    <label for="checkbox1">Keep Me Signed in</label>
</div>

<div class="checkbox checkbox-success  ">
    <input type="checkbox" checked="checked" value="1" id="checkbox2">
    <label for="checkbox2">I agree</label>
</div>

<div class="checkbox checkbox-primary">
    <input type="checkbox" checked="checked" value="1" id="checkbox3">
    <label for="checkbox3">Mark</label>
</div>

<div class="checkbox checkbox-info">
    <input type="checkbox" checked="checked" value="1" id="checkbox4">
    <label for="checkbox4">Steve Jobs</label>
</div>

<div class="checkbox checkbox-warning">
    <input type="checkbox" checked="checked" value="1" id="checkbox5">
    <label for="checkbox5">Action</label>
</div>

<div class="checkbox checkbox-danger">
    <input type="checkbox" checked="checked" value="1" id="checkbox6">
    <label for="checkbox6">Mark as read</label>
</div></code>
</pre>
</div>
<br>  
                    <h4>State options</h4>
                    <p>These act the same way as normal HTML check boxes. Here are some states that</p>   

<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <div class="checkbox checkbox-success">
          <input type="checkbox" disabled="disabled" value="check1" name="check" id="check1">
          <label for="check1">Checkbox No. 1</label>
      </div>
      <div class="checkbox checkbox-success">
          <input type="checkbox" disabled="disabled" checked="checked" value="check2" name="check" id="check2">
          <label for="check2">Checkbox No. 2</label>
      </div>
  </div>
<pre>
<code class="html">
<div class="checkbox checkbox-success">
    <input type="checkbox" disabled="disabled" value="check1" name="check" id="check1">
    <label for="check1">Checkbox No. 1</label>
</div>
<div class="checkbox checkbox-success">
    <input type="checkbox" disabled="disabled" checked="checked" value="check2" name="check" id="check2">
    <label for="check2">Checkbox No. 2</label>
</div>
</code>
</pre>
</div>
<br>         
                <h4 id="toggle-controls" class="pd-t-15">Toggle controls</h4>
                <p>Get rid of native look n' feel with our very own custom radio buttons written purely in CSS. These are retina compatible and available in all Bootstrap's contextual classes (ex: <code class="nohighlight">.check-primary</code>)</p>

<div class="wd-example"> 
    <div class="example">
      <h5 class="mg-b-15">Example</h5>
      <div class="radio radio-default">
          <input type="radio" checked="checked" value="yes" name="radio1" id="radio1Yes">
          <label for="radio1Yes">Agree</label>
          <input type="radio" value="no" name="radio1" id="radio1No">
          <label for="radio1No">Disagree</label>
      </div>

      <div class="radio radio-success">
          <input type="radio" checked="checked" value="yes" name="radio2" id="radio2Yes">
          <label for="radio2Yes">Male</label>
          <input type="radio" value="no" name="radio2" id="radio2No">
          <label for="radio2No">Female</label>
      </div>

      <div class="radio radio-primary">
          <input type="radio" checked="checked" value="yes" name="radio3" id="radio3Yes">
          <label for="radio3Yes">High</label>
          <input type="radio" value="no" name="radio3" id="radio3No">
          <label for="radio3No">Low</label>
      </div>

      <div class="radio radio-info">
          <input type="radio" checked="checked" value="yes" name="radio4" id="radio4Yes">
          <label for="radio4Yes">HTML</label>
          <input type="radio" value="no" name="radio4" id="radio4No">
          <label for="radio4No">JS</label>
      </div>

      <div class="radio radio-warning">
          <input type="radio" checked="checked" value="yes" name="radio5" id="radio5Yes">
          <label for="radio5Yes">Chrome</label>
          <input type="radio" value="no" name="radio5" id="radio5No">
          <label for="radio5No">Firefox</label>
      </div>

      <div class="radio radio-danger">
          <input type="radio" checked="checked" value="yes" name="radio6" id="radio6Yes">
          <label for="radio6Yes">iOS</label>
          <input type="radio" value="no" name="radio6" id="radio6No">
          <label for="radio6No">Android</label>
      </div>
  </div>
<pre>
<code class="html"><div class="radio radio-default">
    <input type="radio" checked="checked" value="yes" name="radio1" id="radio1Yes">
    <label for="radio1Yes">Agree</label>
    <input type="radio" value="no" name="radio1" id="radio1No">
    <label for="radio1No">Disagree</label>
</div>

<div class="radio radio-success">
    <input type="radio" checked="checked" value="yes" name="radio2" id="radio2Yes">
    <label for="radio2Yes">Male</label>
    <input type="radio" value="no" name="radio2" id="radio2No">
    <label for="radio2No">Female</label>
</div>

<div class="radio radio-primary">
    <input type="radio" checked="checked" value="yes" name="radio3" id="radio3Yes">
    <label for="radio3Yes">High</label>
    <input type="radio" value="no" name="radio3" id="radio3No">
    <label for="radio3No">Low</label>
</div>

<div class="radio radio-info">
    <input type="radio" checked="checked" value="yes" name="radio4" id="radio4Yes">
    <label for="radio4Yes">HTML</label>
    <input type="radio" value="no" name="radio4" id="radio4No">
    <label for="radio4No">JS</label>
</div>

<div class="radio radio-warning">
    <input type="radio" checked="checked" value="yes" name="radio5" id="radio5Yes">
    <label for="radio5Yes">Chrome</label>
    <input type="radio" value="no" name="radio5" id="radio5No">
    <label for="radio5No">Firefox</label>
</div>

<div class="radio radio-danger">
    <input type="radio" checked="checked" value="yes" name="radio6" id="radio6Yes">
    <label for="radio6Yes">iOS</label>
    <input type="radio" value="no" name="radio6" id="radio6No">
    <label for="radio6No">Android</label>
</div></code>
</pre>
</div>
<br> 

              <h4>State options</h4>
              <p>These act the same way as normal HTML radio boxes. Here are some states that</p>   

                <div class="wd-example"> 
                    <div class="example">
                      <h5 class="mg-b-15">Example</h5>
                      <div class="radio radio-primary">
                        <input type="radio" disabled="disabled" value="Disabled" name="Disabled" id="Disabled">
                        <label for="Disabled">Disabled</label>
                        <input type="radio" disabled="disabled" checked="checked" value="ADisabled" name="ADisabled" id="ADisabled">
                        <label for="ADisabled">Disabled</label>
                    </div>
                  </div>
<pre>
<code class="html"><div class="radio radio-primary">
<input type="radio" disabled="disabled" value="Disabled" name="Disabled" id="Disabled">
<label for="Disabled">Disabled</label>
<input type="radio" disabled="disabled" checked="checked" value="ADisabled" name="ADisabled" id="ADisabled">
<label for="ADisabled">Disabled</label>
</div></code>
</pre> 
                </div>
                <br>  

                <h4 id="switch-controls" class="pd-t-30">Switch controls</h4>
                <p>Turn your checkboxes into IOS 7 style switches.</p>

<div class="wd-example"> 
  <div class="example"> 
    <h5 class="mg-b-15">Example</h5>
    <div class="switch">
        <input type="checkbox" checked value="switch" name="switch" id="switch1">
        <label for="switch1"></label>
    </div>

    <div class="switch switch-primary">
        <input type="checkbox" checked value="switch" name="switch" id="switch2">
        <label for="switch2"></label>
    </div>
 
     <div class="switch switch-success">
        <input type="checkbox" checked value="switch" name="switch" id="switch3">
        <label for="switch3"></label>
    </div>

     <div class="switch switch-info">
        <input type="checkbox" checked value="switch" name="switch" id="switch4">
        <label for="switch4"></label>
    </div>

     <div class="switch switch-warning">
        <input type="checkbox" checked value="switch" name="switch" id="switch5">
        <label for="switch5"></label>
    </div>
 
     <div class="switch switch-danger">
        <input type="checkbox" checked value="switch" name="switch" id="switch6">
        <label for="switch6"></label>
    </div>
 
    <br/><br/>

    <div class="switch">
        <input type="checkbox" checked value="switch" name="switch" id="switch7">
        <label for="switch7"></label> This is a default switch 
    </div><br/>

    <div class="switch switch-primary">
        <input type="checkbox" checked value="switch" name="switch" id="switch8">
        <label for="switch8"></label> This is a primary switch
    </div><br/>
 
     <div class="switch switch-success">
        <input type="checkbox" checked value="switch" name="switch" id="switch9">
        <label for="switch9"></label> This is a success switch 
    </div><br/>

     <div class="switch switch-info">
        <input type="checkbox" checked value="switch" name="switch" id="switch10">
        <label for="switch10"></label> This is a info switch
    </div><br/>

     <div class="switch switch-warning">
        <input type="checkbox" checked value="switch" name="switch" id="switch11">
        <label for="switch11"></label> This is a warning switch
    </div><br/>

     <div class="switch switch-danger">
        <input type="checkbox" checked value="switch" name="switch" id="switch12">
        <label for="switch12"></label> This is a danger switch
    </div>
  </div>
</div>
<pre>
<code class="html">
<div class="switch">
    <input type="checkbox" checked value="switch" name="switch" id="switch1">
    <label for="switch1"></label>
</div>

<div class="switch switch-primary">
    <input type="checkbox" checked value="switch" name="switch" id="switch2">
    <label for="switch2"></label>
</div>

 <div class="switch switch-success">
    <input type="checkbox" checked value="switch" name="switch" id="switch3">
    <label for="switch3"></label>
</div>

 <div class="switch switch-info">
    <input type="checkbox" checked value="switch" name="switch" id="switch4">
    <label for="switch4"></label>
</div>

 <div class="switch switch-warning">
    <input type="checkbox" checked value="switch" name="switch" id="switch5">
    <label for="switch5"></label>
</div>

 <div class="switch switch-danger">
    <input type="checkbox" checked value="switch" name="switch" id="switch6">
    <label for="switch6"></label>
</div>

</code>
</pre>
<br/>
                <h4 id="editor" class="pd-t-30">WYSIWYG editor</h4>
                <p>These are powered by <a href="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/" target="_blank">bootstrap-wysihtml5 jQuery</a> plugin. Follow these steps to initialize a WYSIWYG editor in your page</p>
                
                <div class="alert alert-info">
                    <p>Please refer to <a href="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/" target="_blank">bootstrap-wysihtml5 Documentation</a> to learn about plugin options</p>
                </div>
<br/>

                <h5>Step one</h5> 
                <p>Include the required javascript files inside the <code class="nohighlight">body</code> before core template script inclusions..</p>

<pre> 
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/tinymce/tinymce.min.js">
</code>
</pre>                
<br/>
              <h5>Step two</h5> 
              <p>Add the markup.</p>

<pre>
<code class="html">
  <textarea name="" id="" cols="30" rows="10" data-plugin="wysihtml5"></textarea>
</code>
</pre>
<br/>

            <h5>Step three</h5> 
            <p>Apply the plugin.</p>

<div class="wd-example">  
  <div class="example"> 
    <h5 class="mg-b-15">Example</h5>

     <textarea name="" id="" cols="30" rows="10" data-plugin="wysihtml5"></textarea>
  </div>
<pre>
<code class="html"><script>
  $(document).ready(function() {
      $('[data-plugin="wysihtml5"]').init({
          selector: '[data-plugin="tinyMCE"]',
          theme   : "modern",
          skin    : 'light',
          menubar : false,
          plugins : [
              "advlist autolink lists link image charmap print preview hr anchor pagebreak",
              "searchreplace wordcount visualblocks visualchars code fullscreen",
              "insertdatetime media nonbreaking save table contextmenu directionality",
              "emoticons template paste textcolor colorpicker textpattern imagetools"
          ],
          toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
      });
  });
</script></code>
</pre>
</div>

                <div class="alert alert-info">
                    <p>Please refer to <a href="http://www.tinymce.com/wiki.php" target="_blank">TinyMCE Documentation</a> to learn about plugin options</p>
                </div>
<br/>
                <h4 id="datepicker" class="pd-t-30">Datepicker</h4>
                <p>These are powered by <a href="http://eternicode.github.io/bootstrap-datepicker" target="_blank">Datepicker for Bootstrap jQuery</a> plugin. Follow these steps to initialize a datepicker in your page</p>

                <div class="alert alert-info">
                    <p>Please refer to <a href="http://eternicode.github.io/bootstrap-datepicker" target="_blank">Datepicker Documentation</a> to learn about plugin options</p>
                </div>
<br/>
                <h5>Step one</h5>
                <p>Include the stylesheet <code class="nohighlight">bootstrap-datepicker.min.css</code> inside the <code class="nohighlight">head</code> tag. </p>
<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
</code>
</pre>
<br/>
                <h5>Step two</h5> 
                <p>Include the required javascript files inside the <code class="nohighlight">body</code> before core template script inclusions..</p>

<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js">
</code>
</pre>                
<br/>
              
              <h5>Step three</h5> 
              <p>Add the markup.</p>

<pre>
<code class="html">
  <div id="datepicker-component" class="input-group">
    <input type="text" class="form-control"  placeholder="Datepicker" data-plugin="datepicker">
    <span class="input-group-addon bd-l-0"><i class="fa fa-calendar"></i></span>
  </div>
</code>
</pre>
<br/>
            <h5>Step four</h5> 
            <p>Apply the plugin.</p>

<div class="wd-example">  
  <div class="example"> 
    <h5 class="mg-b-15">Example</h5>

      <div id="datepicker-component" class="input-group">
        <input type="text" class="form-control"  placeholder="Datepicker" data-plugin="datepicker"><span class="input-group-addon bd-l-0"><i class="fa fa-calendar"></i></span>
      </div>
  </div>
<pre>
<code class="html"><script>
  $(document).ready(function() {
      $('[data-plugin="datepicker"]').datepicker();
  });
</script></code>
</pre>
</div>

<h4 id="selectbox" class="pd-t-30">Selectbox</h4>
                <p>These are powered by <a href="https://harvesthq.github.io/chosen/" target="_blank">Chosen jQuery</a> plugin. Follow these steps to initialize a selectbox in your page</p>

                <div class="alert alert-info">
                    <p>Please refer to <a href="https://harvesthq.github.io/chosen/" target="_blank">Chosen Documentation</a> to learn about plugin options</p>
                </div>
<br/>
                <h5>Step one</h5>
                <p>Include the stylesheet <code class="nohighlight">chosen.min.css</code> inside the <code class="nohighlight">head</code> tag. </p>
<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/chosen/css/chosen.min.css">
</code>
</pre>
<br/>
                <h5>Step two</h5> 
                <p>Include the required javascript files inside the <code class="nohighlight">body</code> before core template script inclusions..</p>

<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/chosen/js/chosen.min.js">
</code>
</pre>                
<br/>
              
              <h5>Step three</h5> 
              <p>Add the markup.</p>

<pre>
<code class="html">
  <div id="datepicker-component" class="input-group">
    <input type="text" class="form-control"  placeholder="Datepicker" data-plugin="datepicker">
    <span class="input-group-addon bd-l-0"><i class="fa fa-calendar"></i></span>
  </div>
</code>
</pre>
<br/> 
            <h5>Step four</h5> 
            <p>Apply the plugin.</p>

<div class="wd-example">  
  <div class="example"> 
    <h5 class="mg-b-15">Example</h5>

      <div class="form-group">
        <select class="form-control" data-plugin="selectbox">
          <option value=""></option>
          <option value="United States">United States</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American Samoa">American Samoa</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antarctica">Antarctica</option>
          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        </select>
      </div>
  </div>
<pre>
<code class="html"><script>
  $(document).ready(function() {
      $('[data-plugin="selectbox"]').chosen();
  });
</script></code>
</pre>
</div>  

<h4 id="dropzone" class="pd-t-30">Dropzone</h4>
                <p>These are powered by <a href="http://www.dropzonejs.com/" target="_blank">Dropzone jQuery</a> plugin. Follow these steps to initialize a dropzone in your page</p>

                <div class="alert alert-info">
                    <p>Please refer to <a href="http://www.dropzonejs.com/" target="_blank">Dropzone Documentation</a> to learn about plugin options</p>
                </div>
<br/>

              <h5>Step one</h5>
                <p>Include the stylesheet <code class="nohighlight">dropzone.min.css</code> inside the <code class="nohighlight">head</code> tag. </p>
<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/dropzone/css/dropzone.min.css">
</code>
</pre>
<br/>
                <h5>Step two</h5> 
                <p>Include the required javascript files inside the <code class="nohighlight">body</code> before core template script inclusions..</p>

<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/dropzone/js/dropzone.min.js">
</code>
</pre>                
<br/>
              
              <h5>Step three</h5> 
              <p>Add the markup.</p>  

<pre> 
<code class="html">  
  <form action="/file-upload" class="dropzone" data-plugin="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple /> 
    </div>   
  </form>  
</code>
</pre> 
<br/>
            <h5>Step four</h5> 
            <p>Apply the plugin.</p>

<div class="wd-example">  
  <div class="example"> 
    <h5 class="mg-b-15">Example</h5>

      <form action="http://localhost:3000/wired/upload" class="dropzone" data-plugin="dropzone">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
  </div> 
<pre>
<code class="html"><script>
  $(document).ready(function() {
      $('[data-plugin="dropzone"]').dropzone();
  });
</script></code> 
</pre>
</div>
                </section>                  
                <!--/ #forms --> 