<section id="get-started" class="pd-t-30 pd-b-30">
                        <h3 class="text-uppercase">Get Started</h3>
                        <hr>

                        <p>Wired (currently v1.1.0) has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>
                        
                        <div class="row">
                          <div class="col-sm-6">
                            <h4>Wired</h4>
                            <p>Compiled and minified CSS, JavaScript, and fonts. No docs or original source files are included.</p>
                            <a href="#0" class="btn btn-primary">Coming Soon...</a>
                          </div>
                          <div class="col-sm-6">
                            <h4>Source Code</h4>
                            <p>Source Sass, JavaScript, and font files, along with our docs. Requires a Sass compiler and some setup.</p>
                            <a href="#0" class="btn btn-primary">Coming Soon...</a>
                          </div> 
                        </div>
                        
                        <br/><br/>
                        <h4>CSS Preprocessors</h4> 
                        <p>Wired uses <a href="http://sass-lang.com/" target="_blank" class="bd-b bd-dashed bold">Sass</a> just because it gives us extra power while coding. <a href="http://bourbon.io/" target="_blank" class="bd-b bd-dashed bold">Bourbon</a> is our mixin library of choice. However if you’re not into preprocessors (you should really give it a try!), you can just use the CSS files and delete the SASS folder.</p>
                        <br/><br/>
                        <h4>Compiling CSS</h4> 
                      <p>Wired uses <a href="http://gulpjs.com/" target="_blank" class="bd-b bd-dashed bold">Gulp</a> for its build system, with convenient methods for working with the framework. It's how we compile our code, run tests, and more.</p>
                      <br/>
                      <h4>Installing Gulp</h4>
                      <ol>
                        <li class="mg-b-15">Install gulp globally:
                        <div class="pd-10 bg-lighter text-base">$ npm install --global gulp</div>
                        </li>
                        <li class="mg-b-15">Install gulp in your project devDependencies:
                        <div class="pd-10 bg-lighter text-base">npm install --save-dev gulp  gulp-sass gulp-watch</div>
                        </li>
                        <li class="mg-b-15">Create a <code class="nohighlight">gulpfile.js</code> at the root of your project:
                        <div class="pd-10 bg-lighter text-base">
<pre class="bd-none"><code>
var gulp         = require(gulp),
   sass          = require(gulp-sass),
   watch         = require(gulp-watch);

gulp.task(sass, function () {
 return gulp.src(sass/*.scss)
          .pipe(sass().on(error, sass.logError))
          .pipe(gulp.dest(dist/css))
          .pipe(sass({outputStyle: compressed}));
});

gulp.task(watch, function () { 
  gulp.watch(sass/*.scss, [sass]);
});

gulp.task(default, [watch]);
  </code>
</pre>
                        </div>
                        </li>
                        <li class="mg-b-15">Run gulp:
                        <div class="pd-10 bg-lighter text-base">$ gulp watch</div>
                        </li>
                      </ol>
                    </section>