
                    <section id="notification" class="pd-t-30 pd-b-30">
                        <h3 class="text-uppercase">Notification</h3>
                        <hr>
                        <p>These are powered by <a href="https://limonte.github.io/sweetalert2/" target="_blank">Sweet Alert 2</a> plugin. Follow these steps to initialize a alert notification in your page</p>

                <div class="alert alert-info">
                    <p>Please refer to <a href="https://limonte.github.io/sweetalert2/" target="_blank">Sweet Alert 2 Documentation</a> to learn about plugin options</p>
                </div>
<br/>
                <h5>Step one</h5>
                <p>Include the stylesheet <code class="nohighlight">sweetalert2.min.css</code> inside the <code class="nohighlight">head</code> tag. </p>
<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/sweetalert/css/sweetalert2.min.css">
</code>
</pre>
<br/>
                <h5>Step two</h5> 
                <p>Include the required javascript files inside the <code class="nohighlight">body</code> before core template script inclusions..</p>

<pre>
<code class="html">
  <link type="text/css" rel="stylesheet" href="assets/plugins/sweetalert/js/sweetalert2.min.js">
</code>
</pre>                 
<br/> 
            <h5>Step three</h5> 
            <p>Apply the plugin by replacing your <code class="nohighlight">alert()</code> function with <code class="nohighlight">swal()</code> on your JS.</p>
 
<div class="wd-example">   
  <div class="example">  
    <h5 class="mg-b-15">Example</h5>
 
      <button class="btn btn-default" data-plugin="sweetAlert">Show basic message</button>
      <button class="btn btn-success" data-plugin="sweetAlert" data-alert="success">Show success message</button>
      <button class="btn btn-danger" data-plugin="sweetAlert" data-alert="danger">Show error message</button>
  </div>
<pre>
<code class="html"><script> 
  $(document).ready(function() {
      // Show basic message
      $('[data-plugin="sweetAlert"]').on('click', function(){
         swal('The Internet?', 'That thing is still around?');
      });

      // Show success message
      $('[data-plugin="sweetAlert"][data-alert="success"]').on('click', function(){
         swal(   'Good job!',  'You clicked the button!',   'success' );
      });

      // Show error message
      $('[data-plugin="sweetAlert"][data-alert="danger"]').on('click', function(){
       swal(   'Oops...',  'Something went wrong!!',   'error' );
      });
  });
</script></code>
</pre>
</div>  

                    </section>