
                     <section id="offcanvas" class="pd-t-30 pd-b-30">
                        <h3 class="text-uppercase">Offcanvas</h3>
                        <p class="fs-16">Replaced Bootstrap's native collapsable menu bar on mobile</p>
                        <hr>
<div class="wd-example"> 
    <div class="example"> 
      <h5 class="mg-b-15">Example</h5>

      <nav class="navbar navbar-inverse bg-menu navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a href="../../" class="navbar-brand pd-y-10">
                 <img src="../assets/images/logo-light.svg" width="90" alt="">
              </a>
            </div>
            <div id="navbar" class="navbar-offcanvas" data-direction="right" data-theme="">
              <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#navbar">
                <span aria-hidden="true">&times;</span>
              </button>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Helpers</a></li>
                  </ul>
                </li>
                 <li><a href="#0">Contact</a></li>
              </ul>
            </div><!--/.nav-offcanvas -->
          </div>
        </nav>

    </div>   
<pre>
<code><nav class="navbar navbar-inverse bg-menu navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a href="../../" class="navbar-brand pd-y-10">
         <img src="../assets/images/logo-light.svg" width="90" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-offcanvas" data-direction="right" data-theme="">
      <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#navbar">
        <span aria-hidden="true">&times;</span>
      </button>

      <ul class="nav navbar-nav">
        <li class="active"><a href="#0">Home</a></li>
        <li><a href="#0">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Grid</a></li>
            <li><a href="#">Colors</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Helpers</a></li>
          </ul>
        </li>
         <li><a href="#0">Contact</a></li>
      </ul>
    </div><!--/.nav-offcanvas -->
  </div>
</nav></code>
</pre>
</div>
<br/>                    

                    <h4>Direction</h4>
                    <p>Change Offcanvas' position via <code class="nohighlight">data-direction</code></p>
<div class="wd-example"> 
    <div class="example"> 
      <h5 class="mg-b-15">Example</h5>
        
      <nav class="navbar navbar-inverse bg-menu navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#direction-right">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a href="../../" class="navbar-brand pd-y-10">
                 <img src="../assets/images/logo-light.svg" width="90" alt="">
              </a>
            </div>
            <div id="direction-right" class="navbar-offcanvas" data-direction="right" data-theme="">
              <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#direction-right">
                <span aria-hidden="true">&times;</span>
              </button>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Helpers</a></li>
                  </ul>
                </li>
                 <li><a href="#0">Contact</a></li>
              </ul> 
            </div><!--/.nav-offcanvas -->
          </div>
        </nav>

        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#direction-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a href="../../" class="navbar-brand pd-y-10">
                 <img src="../assets/images/logo-dark.svg" width="90" alt="">
              </a>
            </div>
            <div id="direction-left" class="navbar-offcanvas" data-direction="left" data-theme="">
              <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#direction-left">
                <span aria-hidden="true">&times;</span>
              </button>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Helpers</a></li>
                  </ul>
                </li>
                 <li><a href="#0">Contact</a></li>
              </ul>
            </div><!--/.nav-offcanvas -->
          </div>
        </nav>

    </div>   
<pre>
<code><div id="navbar" class="navbar-offcanvas" data-direction="right">...</div> 
<div id="navbar" class="navbar-offcanvas" data-direction="left">...</div> </code>
</pre>
</div> 
<br/>

 <h4>Theme</h4>
                    <p>Change Offcanvas' theme via <code class="nohighlight">data-theme</code></p>
<div class="wd-example"> 
    <div class="example"> 
      <h5 class="mg-b-15">Example</h5>
        
      <nav class="navbar navbar-inverse bg-menu navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#theme-dark">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a href="../../" class="navbar-brand pd-y-10">
                 <img src="../assets/images/logo-light.svg" width="90" alt="">
              </a>
            </div>
            <div id="theme-dark" class="navbar-offcanvas" data-direction="right" data-theme="dark">
              <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#theme-dark">
                <span aria-hidden="true">&times;</span>
              </button>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Helpers</a></li>
                  </ul>
                </li>
                 <li><a href="#0">Contact</a></li>
              </ul> 
            </div><!--/.nav-offcanvas -->
          </div>
        </nav> 

        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#theme-light">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> 
              <a href="../../" class="navbar-brand pd-y-10">
                 <img src="../assets/images/logo-dark.svg" width="90" alt="">
              </a>
            </div>
            <div id="theme-light" class="navbar-offcanvas" data-direction="left" data-theme="light">
              <button type="button" class="dismiss hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" data-target="#theme-light">
                <span aria-hidden="true">&times;</span>
              </button>

              <ul class="nav navbar-nav">
                <li class="active"><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">Helpers</a></li>
                  </ul>
                </li>
                 <li><a href="#0">Contact</a></li>
              </ul>
            </div><!--/.nav-offcanvas -->
          </div>
        </nav>
 
    </div>   
<pre>
<code><div id="navbar" class="navbar-offcanvas" data-direction="right" data-theme="dark">...</div> 
<div id="navbar" class="navbar-offcanvas" data-direction="left" data-theme="light">...</div> </code>
</pre>
</div>
<br/> 
                    </section>