<section id="tabs" class="pd-t-30 pd-b-30">
	<h3 class="text-uppercase">Tabs</h3>
	<hr>

	<p>Tabs are created using Bootstrap Native Tabs, they will work as the same way how it works in bootstrap, but it is styled to wired color scheme.</p>
	<a href="http://getbootstrap.com/javascript/#tabs" target="_blank" class="btn btn-primary">Bootstrap Tab Guides</a>
	<br><br>
	<h4>Option #1</h4>
	<p>Add <code class="nohighlight">nav-tabs-simple</code> class next to <code class="nohighlight">nav-tabs</code> for a line tab layout.</p>
	<br/>
	<h5>Colors</h5>
	<p>Use the same contextual classes introduced in Bootstrap</p>
	<p><code class="nohighlight">nav-tabs-primary</code></p>
	<p><code class="nohighlight">nav-tabs-success</code></p>
	<p><code class="nohighlight">nav-tabs-complete</code></p>
	<p><code class="nohighlight">nav-tabs-warning</code></p>
	<p><code class="nohighlight">nav-tabs-danger</code></p>
	<br/>
	<div class="wd-example">  
	  <div class="example"> 
	    <h5 class="mg-b-15">Example</h5>
 
	    <div>
 
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs nav-tabs-primary nav-tabs-simple" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		  </ul> 

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">...</div>
		    <div role="tabpanel" class="tab-pane" id="profile">...</div>
		    <div role="tabpanel" class="tab-pane" id="messages">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div>

		</div>

	  </div>
 <pre>
<code class="html"><!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-primary nav-tabs-simple" role="tablist">
	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
</ul> 

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">...</div>
	<div role="tabpanel" class="tab-pane" id="profile">...</div>
	<div role="tabpanel" class="tab-pane" id="messages">...</div>
	<div role="tabpanel" class="tab-pane" id="settings">...</div>
</div></code>
</pre>
</div>
<br/>
<h4>Option #2</h4>
<p>Add <code class="nohighlight">nav-tabs-caret</code> class next to <code class="nohighlight">nav-tabs</code> for a arrow tab layout.</p>
	<div class="wd-example">  
	  <div class="example"> 
	    <h5 class="mg-b-15">Example</h5>
 
	    <div>
 
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs nav-tabs-caret" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		  </ul> 

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">...</div>
		    <div role="tabpanel" class="tab-pane" id="profile">...</div>
		    <div role="tabpanel" class="tab-pane" id="messages">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div>

		</div>

	  </div>
 <pre>

<code class="html"><!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-caret" role="tablist">
	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
</ul> 

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">...</div>
	<div role="tabpanel" class="tab-pane" id="profile">...</div>
	<div role="tabpanel" class="tab-pane" id="messages">...</div>
	<div role="tabpanel" class="tab-pane" id="settings">...</div>
</div></code>
</pre>



	</div>

</section>