<section id="tooltip" class="pd-t-30 pd-b-30">
  <h3 class="text-uppercase">Tooltips</h3>
  <hr>

  <p>Tooltip are created using Bootstrap Native Progress bars, they will work as the same way how it works in bootstrap, but it is styled to wired color scheme.</p>
  <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank" class="btn btn-primary">Bootstrap Tooltip Guides</a>
  <br/><br/>
  <h4>Four Directions</h4>
  <p>Four options are available: top, right, bottom, and left aligned.</p>
  <div class="wd-example">  
    <div class="example"> 
      <h5 class="mg-b-15">Examples</h5>
      <div class="text-center">
        <button class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on Left</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip on Top</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip on Bottom</button>
        <button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip on Right</button>
      </div>
    </div>
<pre>
<code><button class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on Left</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip on Top</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip on Bottom</button>

<button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip on Right</button>
</code>
</pre>
</div>
<br/><br/>     
<h4>Colors</h4>
<p>Wired buttons use the same contextual classes introduced in Bootstrap</p>
  <div class="wd-example">  
    <div class="example"> 
      <h5 class="mg-b-15">Examples</h5>
      <div class="text-center">
        <button class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip Primary</button>
        <button class="btn btn-default tooltip-success" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip Success</button>
        <button class="btn btn-default tooltip-info" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip Info</button>
        <button class="btn btn-default tooltip-warning" data-toggle="tooltip" data-placement="left" title="Tooltip on Bottom">Tooltip Warning</button>
        <button class="btn btn-default tooltip-danger" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip Danger</button>
      </div>
    </div>
<pre>
<code><button class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip Primary</button>

<button class="btn btn-default tooltip-success" data-toggle="tooltip" data-placement="top" title="Tooltip on Top">Tooltip Success</button>

<button class="btn btn-default tooltip-info" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">Tooltip Info</button>

<button class="btn btn-default tooltip-warning" data-toggle="tooltip" data-placement="left" title="Tooltip on Bottom">Tooltip Warning</button>

<button class="btn btn-default tooltip-danger" data-toggle="tooltip" data-placement="right" title="Tooltip on Right">Tooltip Danger</button></code>
</pre>
</div>
  
</section>