//
// Base styles
//

.card {
  position: relative;
  display: block;
  margin-bottom: $card-spacer-y;
  background-color: $card-bg;
  @include border-radius($card-border-radius);
  border: $card-border-width solid $card-border-color;

  ul {
    margin-bottom: 0;
  }
}

.card-block {
  @include clearfix;
  padding: $card-spacer-x;
}

.card-title {
  margin-bottom: $card-spacer-y;
}

.card-subtitle { 
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

.card {
  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}


//
// Optional textual caps
//

.card-header {
  font-family: $font-family-heading;
  font-weight: 600;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: $card-header-padding;
  background-color: $card-cap-bg; 
  @include clearfix;
 
  &:first-child { 
    @include border-radius($card-border-radius-inner $card-border-radius-inner 0 0);
  }
}

.card-footer {
  @include clearfix;
  padding: $card-footer-padding;
  background-color: $card-cap-bg;

  &:last-child {
    @include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}


//
// Background variations
//

.card-primary {
  @include card-variant($color-primary, $color-primary);
}
.card-success {
  @include card-variant($color-success, $color-success);
}
.card-info {
  @include card-variant($color-info, $color-info);
}
.card-warning {
  @include card-variant($color-warning, $color-warning);
}
.card-danger {
  @include card-variant($color-danger, $color-danger);
}

// Remove all backgrounds
.card-outline-default {
  @include card-outline-variant($btn-default-bg);
}
.card-outline-primary {
  @include card-outline-variant($btn-primary-bg);
}
.card-outline-info {
  @include card-outline-variant($btn-info-bg);
}
.card-outline-success {
  @include card-outline-variant($btn-success-bg);
}
.card-outline-warning {
  @include card-outline-variant($btn-warning-bg);
}
.card-outline-danger {
  @include card-outline-variant($btn-danger-bg);
}

//
// Inverse text within a card for use with dark backgrounds
//

.card-inverse {
  @include card-inverse;
}

//
// Blockquote
//

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

// Card image
.card-img {
  // margin: -1.325rem;
  @include border-radius(.25rem);
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}



// Card image caps
.card-img-top {
  @include border-top-radius($card-border-radius-inner);
}
.card-img-bottom {
  @include border-bottom-radius($card-border-radius-inner);
}


// Card set
//
// Heads up! We do some funky style resetting here for margins across our two
// variations (one flex, one table). Individual cards have margin-bottom by
// default, but they're ignored due to table styles. For a consistent design,
// we've done the same to the flex variation.
//
// Those changes are noted by `// Margin balancing`.


@media (min-width: $screen-sm-min) {
$space-between-cards: (2 * $card-deck-margin);
.card-deck {
  display: table;
  width: 100%;
  margin-bottom: $card-spacer-y; // Margin balancing
  table-layout: fixed;
  border-spacing: $space-between-cards 0;

  .card {
    display: table-cell;
    margin-bottom: 0; // Margin balancing
    vertical-align: top;
  }
}
.card-deck-wrapper {
  margin-right: (-$space-between-cards);
  margin-left: (-$space-between-cards);
}
}


//
// Card groups
//

@media (min-width: $screen-sm-min) {
  .card-group {
      display: table;
      width: 100%;
      table-layout: fixed;

    .card {
      display: table-cell;
      vertical-align: top;

      + .card {
        margin-left: 0;
        border-left: 0;
      }
    }
  }
}


//
// Card
//

@media (min-width: $screen-sm-min) {
  .card-columns {
    column-count: 3;
    column-gap: $card-columns-sm-up-column-gap;

    .card {
      width: 100%; // Don't let them exceed the column width
    }
  }
}
