
/*
* Wired Framework
* Scaffolding 
*/
   
*, *::after, *::before {
  @include box-sizing(border-box);  
}  

html { 
    height: 100%;
    -webkit-text-size-adjust: none;
}
  
body { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $color-lightest;

   	color: $color-base; 
    font-family: $font-base;
    font-size: $font-size-base; 
    font-weight: normal; 
    letter-spacing: 0.01em;
   
}

a , .link{
  color: $color-link;
  text-decoration: none;
  outline: 0 !important;
  @include transition();

  &:hover,
  &:focus {  
    color: $color-link-light; 
    text-decoration: none !important;
  }
}
  
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-heading;
  color: $color-dark;  
} 

ul, ol{
	padding-left: 20px;
}

img{
  max-width: 100%;
  height: auto;
}

p, ol, ul{
  line-height: 1.6;
  font-weight: normal;
} 

hr{
	border-color: rgba($color-dark, 0.10);
}
  
pre{
    background-color: transparent;
    border-color: $color-light;
    padding: 0;
    @include border-radius(0);
}

input, button{
  outline: 0 !important;
}
