
/*
* Wired Framework
* Variables 
*
/

/* [ Color Swatch ]
------------------------- */

$color-base				: #47525d;

$color-dark 			: #2C2C2C;
$color-darker			: #1A1A1A;
$color-darken			: #2b303b;
$color-darkest			: #000000;

$color-white			: #fff;
$color-light			: #E6E6E6;
$color-lighter			: #F0F0F0;
$color-lightest			: #FAFAFA;
$color-gray				: #9199AA;
$color-menu				: #2b303b;
$color-disabled			: #f8f8f8;

$color-primary 			: #5F68A7;
$color-primary-light	: rgba($color-primary, 0.90);
$color-primary-dark		: darken($color-primary, 3%);

$color-complete 		: #48b0f7;
$color-complete-light 	: rgba($color-complete, 0.90);
$color-complete-dark 	: darken($color-complete, 3%);

$color-info 			: #3498db;
$color-info-light 		: rgba($color-info, 0.90);
$color-info-dark 		: darken($color-info, 3%);

$color-success 			: #2ecc71;
$color-success-light 	: rgba($color-success, 0.90);
$color-success-dark 	: darken($color-success, 3%);

$color-danger 			: #f55753;
$color-danger-light 	: rgba($color-danger, 0.90);
$color-danger-dark 		: darken($color-danger, 3%);

$color-warning  		: #f8d053;
$color-warning-light 	: rgba($color-warning, 0.90);
$color-warning-dark 	: darken($color-warning, 3%);

$color-link 			: #3887be;
$color-link-light 		: rgba( $color-link, 0.90 );
$color-link-dark 		: darken($color-link, 3%);

$color-cyan 			: #3bb2d0;
$color-cyan-light 		: rgba( $color-cyan, 0.90 );
$color-cyan-dark 		: darken($color-cyan, 3%);

$color-blue 			: #007ee5;
$color-blue-light 		: rgba( $color-blue, 0.90 );
$color-blue-dark 		: darken($color-blue, 3%);

$color-darkblue 		: #223b53;
$color-darkblue-light 	: rgba( $color-darkblue, 0.90 );
$color-darkblue-dark 	: darken($color-darkblue, 3%);

$color-navy 			: #28353d;
$color-navy-light 		: rgba( $color-navy, 0.90 );
$color-navy-dark 		: darken($color-navy, 3%);

/* [ Fonts ]
------------------------- */
 
$font-size-base			: 14px; 
$line-height-base		: 1.7;
$letter-spacing-base	: 0.01em;
$font-base				: 'Open Sans', sans-serif;
$font-heading			: 'Montserrat', sans-serif;

/* [ Breakpoints ]
------------------------- */

$screen-xs				: 270px;
$screen-phablet			: 640px;
$screen-sm				: 768px;
$screen-md 				: 992px;
$screen-lg 				: 1200px;
$screen-xlg 			: 1400px;