// Labels

@mixin label-variant($background, $color: #fff) {
	color: $color;
  background-color: $background;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($background, 10%);
    }
  }
}
